# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
venv/
.venv/
env/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Flask
# -----------------------------
instance/
.flaskenv

# -----------------------------
# Database
# -----------------------------
*.db
*.sqlite
*.sqlite3

# -----------------------------
# Node / Vue
# -----------------------------
node_modules/
dist/
npm-debug.log*
yarn-error.log*

# -----------------------------
# Redis
# -----------------------------
dump.rdb

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# Logs
# -----------------------------
*.log
